<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, a et.
  Laudantium corrupti repellat, sint accusamus fugit at blanditiis animi.
</p>

<%- include("footer") -%>
